
<link href="~/toastr/toastr.min.css" rel="stylesheet" />


Merhaba, <h4 id="h4UserName">@ViewBag.KullaniciAdi</h4> hoşgeldin.


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/toastr/general.js"></script>
<script src="~/toastr/toastr.min.js"></script>
<script src="~/js/message1.js"></script>